body {
    background-image: url(../img/background.jpeg);
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


.foto {
    height: 100%;
    width: 100%;
}

.missao {
    color: red;
}

.infos {
    background-color: #808080;
    color: #fff;

}

.infos-espacamento {
    padding: 10px;
}

.lista {
    margin-block-start: 50px;
}

.imagem-beneficios {
    float: right;
    margin-top: -130px;
    border: solid;
}

.titulo_beneficios {
    color: #fff;
    padding: 50px;
    font-size: 50px;
}

.container-beneficios {
    height: 400px;
    width: 900px;
    margin: auto;
    color: #fff;
    padding: 30px;
    font-size: 20px;
}

.footer {
    padding-top: 40px;
    width: 100%;
    height: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.footer > p {
    margin-top:50px;
}

.img-insta {
    color: white;
}