body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}


.foto {
    height: 100%;
    width: 100%;
}

.missao {
    color: red;
}

.infos {
    color: rgb(0, 0, 0);
    height: 400px;
}


.lista {
    margin-block-start: 50px;
    line-height: 1.5;
    list-style-type: disc;
}

.lista::first-line {
    font-weight: bold;
}

.imagem-beneficios {
    float: right;
    margin-top: -130px;
    border: solid;
}


.container-beneficios {
    height: 400px;
    width: 900px;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 30px;
    font-size: 20px;
}

.footer {
    padding-top: 40px;
    width: 100%;
    height: 130px;
    background-color: rgb(0, 0, 0);
    color: #FEFEFE;
    text-align: center;
}

.footer>p {
    margin-top: 50px;
}

.img-insta {
    color: #FEFEFE;
}

.rodape {
    color: inherit;
    text-decoration: none;
}


header {
    background-color: #BBb;
}


.navegacao li {
    display: inline;
    margin: 10px;


}

.navegacao a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.navegacao {
    position: absolute;
    top: 160px;
    right: 0;

}

nav a:hover {
    color: #c78C19;
    text-decoration: underline;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;

}

footer {
    margin: 50px;
    text-align: center;
    background: url('../img/bg.jpg');
}

.Copyright {
    color: #fEfEfE;
    font: 13px;
    margin: 20px 0 0px;
}

.titulo {
    font-size: 2em;
    clear: left;
    padding: 50px 0 0;
}

.titulo strong {
    font-weight: bold;
}

.titulo em {
    font-style: italic;
}

.titulo h1 {
    margin-top: 0px;
}

.foto-utensilios {
    width: 270px;
    float: left;
    padding-right: 10px;

}


.infos-espacamento {
    margin: 30px 10% 30px;
    margin-right: 100px;
    text-align: center;
}

.infos-espacamento p {
    margin: 2%;
}

.localizacao {
    text-align: center;
    background: linear-gradient(#FEFEFE, #BBb)
}

.localizacao h3 {
    margin: 30px;
    font-size: 2em;
}

.localizacao p {
    margin: 40px;
}

.video-apresentacao {
    text-align: center;
}

.video-apresentacao p {

    margin: 5%;
}

.section-cinza {
    background-color: #BBb;
    height: 1050px;
}

@media screen and (max-width: 480px) {

    .caixa,
    .infos,
    .localizacao,
    .infos-espacamento,
    iframe,
    .container-beneficios,
    .lista {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    .navegacao {
        position: static;
        padding: 5px;
        text-align: center;
    }

    .infos-espacamento {
        padding: 0;
        width: 100%;
        margin: auto;
    }

    .foto-utensilios {
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    .titulo {
        padding-bottom: 50px;
    }

    .localizacao h3 {
        padding-top: 100px;
    }

    .imagem-beneficios {
        width: 150px;
        height: 150px;
        float: none;
        margin: auto;
        text-align: center;
        padding-left: 30%;
        border: none;
        
    }

    .lista {
        font-size: 15px;
    }

    .video-apresentacao p {
        padding-top: 35px;
    }


}